#searcherButton {
    display: block;
    margin: 0px; 
    position: absolute;
    top: 50%;
    left: 47%;
    padding: 5px;
}

#converterButton {
    display: block;
    margin: 0px; 
    position: absolute;
    top: 45%;
    left: 47.5%;
    padding: 5px;
}
